body {
	height: 100%;
	text-align: center;
	background: #327A7F;
	color: #f2f2f2;
	overflow: hidden;
}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
	color: #f2f2f2;
}

div {
	display: inline-block;
	margin-right: 40px;
}

h1 {
	font-family: 'Raleway', sans-serif;
	/*'Raleway', sans-serif;*/
	/*font-size: 5em;*/
	font-size: 72px;
	/*border: 3px solid #363636;*/
	margin: 0 auto;
}

h2 {
	margin: 0;
	margin-top: 20px;
}

div.logo {
	/*background: #0b6c73;*/
	/*height: 100%;*/
	text-align: center;
}

div.logo h1 {
	color: #f2f2f2;
	margin-left: 20px;
	/*padding-top: 43vh;*/
	/*margin-bottom: 28vh;*/
}

div.upload, div.gallery {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	/*width: 250px;*/
	width: 90px;
	height: 60px;
	overflow: hidden;
	/*padding: 3px;*/
}

p.header {
	width: 100%;
	/*padding-top: 2vh;*/
	font-family: 'Josefin Sans', sans-serif;
	font-size: 4em;
	line-height: 2em;
	/*color: #5f855a;*/
}

p.subheader {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3em;
	line-height: 2em;
}

a:hover {
	color: #f2f2f2;
	text-decoration: none;
}

#container {
	width: 500vw;
	height: 99vh;
	margin: 0 auto;
	text-align: right;
	overflow: hidden;
}

#sidebar {
	position: fixed;
	left: 0;
	float: left;
	width: 100%;
	min-width: 200px;
	text-align: left;
	height: 125px;
	background: #327A7F;
}

hr {
	color: #0B5973;
}

section:nth-child(2) {
	margin-left: 10vw;
}

section {
	width: 80vw;
	text-align: center;
	float: left;
	display: inline-block;
	text-align: right;
	height: 105vh;
	margin-right: 21vw;
	font-size: 1.5vh;
}

section:nth-child(n+2) {

	height: 100vh;
	padding: 2% 0;

}

section:last-child {
	margin-right: 0px;
}

/*section:first-child {
	vertical-align: top;
}*/

.pur {
	/*color: #FFEA3C;*/
	background: #705682;
}

.red {
	background: #B81E2B;
	/*color: #B22030;*/
}

.yel {
	color: #ffea3c;
}

input[type=submit] {
	color: black;
}

.phpnotice {
	text-decoration: underline;
	font-size: 1.2em;
	width: 100%;
	background: #B81E2B;
	position: fixed;
	z-index: 999;
}

.phpsuccess {
	text-decoration: underline;
	font-size: 1.2em;
	width: 100%;
	background: #705682;
	position: fixed;
	z-index: 999;
}